* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background: url(./img/background.jpg);
  background-size: cover;
}
